{% extends 'base.html' %}
{% comment %} Bu eail kiritilgandan keyin Tiklash uchun yangi parol qushiladi{% endcomment %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-2">
    <h2>Yangi Parol O'rnatin</h2>
<div>
    <form method='post'>
    <div class="col-md-4 col-sm-12">
            <div class="container">
                {% csrf_token %}{{form|crispy}}
                <button type='submit' class="btn btn-success mt-2 w-25">Submit</button>
        
            </div>
    <div>
    </form>

{% endblock content %}