{% extends 'base.html' %}
{% comment %} Bu Parolni tiklash Uchun Ishlatiladi yane Email kiritilad{% endcomment %}
{% load crispy_forms_tags %}

{% block content %}

<form method='post'>
    <div class="container mt-2 ">
        
           
        
        <h2>Parolni Tiklash</h2>
    
        <div class="col-md-4 col-sm-12">
    
            {% csrf_token %}{{form|crispy}}
            <button type='submit' class="btn btn-success mt-2 w-25">Submit</button>
    
        </div>

        
    
    </div>
</form>
{% endblock content %}